* {
    box-sizing: border-box;
}

.InicioSesion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #264177;
    color: white;
}

.InicioSesion-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App-logo {
    height: 200px;
    pointer-events: none;
    margin-bottom: 25px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #000;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    margin-bottom: 5px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    padding: 10px 20px;
    background-color: #61dafb;
    border: none;
    border-radius: 20px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #21a1f1;
}